@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100vw;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
  box-sizing: border-box;
}

h1 {
  @apply text-white text-[75px] font-bold font-['Inter'];
}

.asu {
  font-size: 72px;
  background: linear-gradient(
    90deg,
    rgba(255, 198, 39, 1) 0%,
    rgba(140, 29, 64, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @apply max-lg:text-5xl max-sm:text-4xl max-[480px]:text-3xl;
}

h3 {
  @apply text-[100px] font-bold;
}

.skribbleGrad {
  background: linear-gradient(90deg, #b721ff 0%, #21d4fd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  @apply rounded-[50px] flex flex-col items-center justify-center h-[400px] max-md:h-[250px] max-[550px]:w-[250px];
}

.card:hover {
  @apply shadow-2xl;
}

h4 {
  @apply font-bold font-['Inter'] text-left pt-4 text-2xl max-md:text-lg;
}

.projDesc {
  @apply text-[#B4B4B4] text-left max-md:text-sm;
}

h5 {
  @apply font-['Inter'] font-bold text-3xl max-[550px]:text-xl;
}

.aboutSect {
  @apply text-2xl font-bold font-['Inter'] text-left;
}

.aboutDesc {
  @apply leading-8 text-xl font-normal font-['Inter'] text-left max-md:text-xl max-[570px]:text-sm;
}

.imgCaption {
  @apply text-[#b4b4b4] text-sm font-normal font-['Inter'];
}

.activities {
  @apply text-2xl font-bold font-['Inter'] text-left max-md:text-xl max-sm:text-lg;
}
